<ng-container>
  <div class="container">
    <table>
      <caption>Cursos Oferecidos</caption> <!-- Título da tabela -->
      <thead>
          <tr>
              <th>Curso</th>
              <th>Duração</th>
              <th>Instrutor</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Desenvolvimento Web</td>
              <td>6 meses</td>
              <td>João Silva</td>
          </tr>
          <tr>
              <td>Design Gráfico</td>
              <td>3 meses</td>
              <td>Maria Souza</td>
          </tr>
          <tr>
              <td>Introdução à Programação</td>
              <td>4 meses</td>
              <td>Carlos Rocha</td>
          </tr>
      </tbody>
    </table>
  </div>
</ng-container>
